<header class="header">
    <div class="container">   
        <a href="{{ path('home')}}">
            <img alt="Jemaiel Rabii" src="{{ asset('bundles/jrexempleapp/images/jr.png') }}" class="profile-image img-responsive pull-left">
        </a>
        <div class="profile-content pull-left">
            <h1 class="name">Jemaiel Rabii</h1>
            <h2 class="desc">Développeur Web</h2>   
            <ul class="social list-inline">
                {#<li><a href="#"><i class="fa fa-twitter"></i></a></li>                   
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>        #}
                <li><a  target="_blank" href="http://tn.linkedin.com/in/rjemaiel"><i class="fa fa-linkedin"></i></a></li>
                <li><a  target="_blank" href="http://github.com/rjemaiel"><i class="fa fa-github-alt"></i></a></li>                  

            </ul> 
        </div><!--//profile-->
        <a  href="mailto:r.jemaiel.dev@gmail.com" class="btn btn-cta-primary pull-right"><i class="fa fa-paper-plane"></i> Contactez-moi</a>              
    </div><!--//container-->
</header>